.tablero{
    width: 600px;
    height: 600px;
    background-color: #4CAF50;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-content: space-around; 
    padding: 10px;
}

.circulos{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #FFD700;
    border: 3px solid black;
}

.circulorojo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url('/images/matatopos.png');
    background-size: cover;
    background-position: center;   
    border: 3px solid black; 
}